<!DOCTYPE html>
<html lang="en">
<head>

     <title> الـمـصـنـف </title>
<!--

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link href="css/fontawesome-all.css" rel="stylesheet">
     <link rel="stylesheet" href="css/aos.css">
     <link rel="stylesheet" href="css/owl.carousel.min.css">
     <link rel="stylesheet" href="css/owl.theme.default.min.css">
     <link href="css/styles.css" rel="stylesheet">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/templatemo-digital-trend.css">

</head>
<body>

   <!-- MENU BAR -->
   <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                  <a href="project-detail.html" class="nav-link contact" >عــن المـصــنــف</a>
                 </li>
               <li class="nav-item">
                   <a href="#team" class="nav-link smoothScroll">فـريــق الـعـمــل </a>
               </li>       
       </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="../templates/index.html">
           <i></i>
             المصنـف الـذكي
       <img src="../static/images/IMG_8784.PNG" style="width:4rem; height:4rem; margin-left:1rem;" alt="logo" />

         </a>

    </div>
</nav>




     <!-- PROJECT DETAIL -->
     <section  class="project-detail section-padding-half">
          <div class="container">
               <div class="row">

                    <div class="col-lg-9 mx-auto col-md-10 col-12 mt-lg-5 text-center" data-aos="fade-up">

                      <h4>بإستـخدام التـعلم الآلـي</h4>
                       <br>
                      <h1>مـصـنـف الأخــبـار الذكـي</h1>
                    </div>

               </div>
          </div>
          <div class="full-image text-center" data-aos="zoom-in">

            <img src="../static/images/model1.svg" class="img-fluid" alt="interview process"style="margin-right:12rem; height:35rem; width:35rem; margin-bottom:12rem;">
          </div>
          <div  style='margin-top: -20rem;' class="basic-4">
            <div class="container"  >
                <div class="row">
                    <div class="col-lg-12">
                    
                        <p  data-aos="fade-up" style ="text-align:center; font-size:1.75rem;" >
                          يتم جمع كميات كبيرة من البيانات كل يوم، ولكن كلما زادت كمية هذه المعلومات ، يصبح من الصعب الوصول إلى ما نبحث عنه. لذلك ، نحتاج إلى أدوات وتقنيات لتنظيم كميات هائلة من المعلومات والبحث فيها وفهمها يهدف مشروعنا إلى تصنيف الأخبار التي يمكن أن تساعد في تنظيم وفهم وتلخيص مجموعات كبيرة من المعلومات النصية
                        </p></br>
        
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
             
           </div> <!-- end of container -->
        </div> <!-- end of basic-4 -->
        <!-- end of about -->
      
      
     </section>


     <!-- classification section  -->
     <section class="project section-padding" id="project">  <!--<section class="contact section-padding"> -->
      <div class="container">
           <div data-aos="fade-up" >

                  <p  style ="text-align:right; font-size:1.75rem;" >
                    :
                   مـعـلـومـات عـن الـمـصــنـف
                  </p>
                </br></br>

                  <ol style="text-align: right;font-size:1.2rem;"dir="rtl" class="list-detail">
                    <li ><span>تم تدريب النموذج على أكثر من 71,000 مقالة  مُصنفة إلى ست فئات من أهمها الفئة الطبية و الفئة السياسة , تم جمعها من موقع العربية للأخبار 
                      <a href="https://data.mendeley.com/datasets/57zpx667y9/2">mendeley .</a> </span>
                      </li>
                    </br>
                    <li><span>استخدمت خوارزمية 
                      Support vector machine (SVM)
                       للتدريب بالإضافة الى 
                       Term-Frequncy - Inverse Term Frecncy )TF-IDF) . </span>
                  </li>
                </br>
                    <li><span>تمت برمجة المصنف و الموقع الالكتروني باستخدام اللغات البرمجية :  Python - Javascript - HTML - CSS . </span></li>
                  </br>
                    <li><span>درجة الدقة  :
                      0.98098246</span></li>
                  </ol>

           </div>
      </div>
 </section>

 <section class="about section-padding pb-0">
  <div class="container">
     

      <div class="col-lg-12 col-12">
        <div class="embed-responsive embed-responsive-16by9 my-5 py-5" data-aos="fade-up">
            <iframe class="embed-responsive-item" width="800" height="450" src="../static/images/Demo.wmv" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-lg-9 mx-auto col-12" data-aos="fade-up">
        <div class="client-info mt-lg-5 py-lg-5">
            <h3>Curabitur egestas mollis tellus sit amet porttitor. Sed leo nisl, posuere at molestie ac, suscipit auctor mauris. Etiam quis metus elementum, tempor risus vel.</h3>

            <div class="d-flex align-items-center mt-3">
              <img src="../static/images/male-avatar.png" class="img-fluid" alt="male avatar">

              <p>Angelo Sharp, Creative Director</p>
            </div>
        </div>
      </div>
  </div>
</section>



          <!-- About -->
<section class="project " id="project">  <!--<section class="contact section-padding"> -->

   <div id="team" class="basic-4" data-aos="fade-up">
    <div class="container"  >
        <div class="row">
            <div class="col-lg-12">
                <h2  style ="text-align:center"><strong>عن الفريق </strong></h2><br><br>
                <p style ="text-align:center; font-size:1rem;">
                General assembly
                نحن فريق تقني  , مهتمين بتعليم الآلة و الذكاء الاصطناعي . قمنا ببناء هذا المشروع كأحد متطلبات البرنامج التدريبي الذي قدمته لنا وزارة الاتصالات و تقنية المعلومات و
              
              </p></br>

            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row" >
            <div class="col-lg-12" >
              
                <!-- Team Member -->
                <div class="team-member"  >
                    <div class="image-wrapper">
                        <img class="img-fluid" src="../static/images/team-member-1.svg" alt="alternative">
                    </div> <!-- end of image-wrapper -->
                    <p class="p-large" style ="text-align:center"><strong>ريم الروقي </strong></p>
                    <p class="job-title" style ="text-align:center">علوم بيانات </p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="http://www.linkedin.com/in/reemalruqi">
                                <i class="fas fa-circle fa-stack-2x facebook"></i>
                                <i class="fab fa-linkedin fa-stack-1x"  style='color:white'></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://twitter.com/reem_alruqi"> 
                               <i class="fas fa-circle fa-stack-2x twitter" ></i>
                               <i class="fab fa-twitter fa-stack-1x"  style='color:white'></i>
                            </a>
                        </span>
                    </span> <!-- end of social-icons -->
                </div> <!-- end of team-member -->
                <!-- end of team member -->
                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="../static/images/team-member-3.svg" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large" style ="text-align:center"><strong>خلود العويس</strong></p>
                    <p class="job-title" style ="text-align:center">علوم البيانات </p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="https://www.linkedin.com/in/kholoud-owais-5b3aa41aa">
                                <i class="fas fa-circle fa-stack-2x facebook"></i>
                                <i class="fab fa-linkedin fa-stack-1x"  style='color:white' ></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://mobile.twitter.com/kholoud_owais"> 
                                <i class="fas fa-circle fa-stack-2x twitter"></i>
                                <i class="fab fa-twitter  fa-stack-1x " style='color:white'></i>
                            </a>
                        </span>
                    </span> <!-- end of social-icons -->
                </div> <!-- end of team-member -->
                <!-- end of team member -->
                <!-- Team Member -->
                <div class="team-member">
                   <div class="image-wrapper">
                       <img class="img-fluid" src="../static/images/team-member-4.svg" alt="alternative">
                   </div> <!-- end of image wrapper -->
                   <p class="p-large" style ="text-align:center"><strong>وعد الروقي </strong></p>
                   <p class="job-title" style ="text-align:center" >علوم البيانات </p>
                   <span class="social-icons" >
                       <span class="fa-stack">
                           <a href="http://www.linkedin.com/in/waad-datascientist">
                               <i class="fas fa-circle fa-stack-2x facebook"></i>
                               <i class="fab fa-linkedin fa-stack-1x" style='color:white'></i>
                           </a>
                       </span>
                       <span class="fa-stack">
                           <a href="https://twitter.com/waad_0alroqi">
                               <i class="fas fa-circle fa-stack-2x twitter"></i>
                               <i class="fab fa-twitter fa-stack-1x"  style='color:white'></i>
                           </a>
                       </span>
                   </span> <!-- end of social-icons -->
               </div> <!-- end of team-member -->
               <!-- end of team member -->
           </div> <!-- end of col -->
       </div> <!-- end of row -->
   </div> <!-- end of container -->
</div> <!-- end of basic-4 -->
<!-- end of about -->
</section>





     <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div style="margin-top:2rem;" class="col-lg-5 mx-lg-auto col-md-8 col-10">
            <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">DATA SCIENTISTS<br><br> Team of <strong>DSI8.</strong> </h1>
          </div>

          <div style="margin-left:10rem;" class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
            <h4 class="my-4">Contact Info</h4>

            <p class="mb-1">
              <i class="fa fa-phone mr-2 footer-icon"></i> 
              +966 53 700 3125
            </p>

            <p>
              <a href="#">
                <i class="fa fa-envelope mr-2 footer-icon"></i>
                ds_dsi8@outlook.com
              </a>
            </p>
          </div>
          <div class="col-lg-3 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
            <ul class="social-icon">
              <li><a href="#" class="fa fa-instagram"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-dribbble"></a></li>
              <li><a href="#" class="fa fa-behance"></a></li>
            </ul>
          </div>

        </div>
      </div>
 


    </footer>

     <!-- SCRIPTS -->
     <script src="js/jquery.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/aos.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/custom.js"></script>

</body>
</html>
